{{- $context := .Context -}}
{{- if $context.Params.series -}}

  <section class="widget next-in-series">

    {{- $series := where $context.Site.RegularPages.ByDate ".Params.series" "intersect" $context.Params.series -}}
    {{- $series1 := where $context.Site.RegularPages.ByDate ".Params.series" "intersect" $context.Params.series -}}


        {{- range $i, $item := $series -}}

            {{- if eq $context.File.UniqueID .File.UniqueID -}}


                {{- range $j, $item1 := $series1 -}}

                    {{- if (eq $j (add $i 1)) -}}
                        {{- with $item1 -}}
                        <h2 class="widget-title section-title">Next in This Series</h2>
                        <span class="series-item {{if eq $context.File.UniqueID .File.UniqueID}}current{{end}}">
                             <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </span>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

        {{- end -}}
    

  </section>
{{- end -}}

