{{- $context := .Context -}}
{{- if $context.Params.series -}}

  <section class="widget series">

    <h2 class="widget-title section-title">The <a href='{{- (index ($context.GetTerms "series") 0).Permalink -}}'>{{ index $context.Params.series 0 }}</a> Series</a></h2>

    <div class="widget--series">
        {{ $series := index site.Taxonomies "series" (urlize (index $context.Params.series 0)) }}
        {{- with $series -}}
        <ol>
            {{- range . -}}
            <li>
                {{- if eq $context.File.UniqueID .File.UniqueID -}}
                    <b>{{ .Title }}</b>
                {{- else -}}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end -}}
            </li>
            {{- end -}}
        </ol>
    </div>
    {{- end -}}
  </section>
{{- end -}}





