{{- if .Params.series -}}

  <section class="article-series">

    {{- $series := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series -}}
    {{- $series1 := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series -}}


        {{- range $i, $item := $series -}}

            {{- if eq .File.UniqueID $.File.UniqueID -}}


                {{- range $j, $item1 := $series1 -}}

                    {{- if (eq $j (add $i 1)) -}}
                        {{- with $item1 -}}
                        <h3>Next in This Series</h2>
                        <span class="series-item {{if eq .File.UniqueID .File.UniqueID}}current{{end}}">
                             <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </span>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}

        {{- end -}}
    

  </section>
{{- end -}}

